<form method="post" action="{{ path('myblog_delete', {'id': myblog.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ myblog.id) }}">
    <button class="btn btn-danger w-100 my-2">Supprimer</button>
</form>
