{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
<div class="row mt-5">
<div class="col-sm-8 offset-sm-2">
        <a class="navbar-brand" href="{{ path('home') }}">Accueil</a>
        <a class="nav-link" href="{{ path('profil') }}">Profil</a>
        <a class="nav-link" href="{{ path('contact') }}">contact</a>
<h1>Vos informations</h1>
<ul>
{% for info in informations %}
<li>{{ info }}</li>
{% endfor %}
</ul>
</div>
</div>
</div>
{% endblock %}